{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} <i class="bi bi-geo-alt"></i> Configuración - Países{% endblock %}

{% block boton_superior %}
  <div>
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_alhua' %}')" name="button">Agregar país</button>

  </div>
{% endblock %}

{% block lista_contenido %}



<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
      <td>Código</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for pais in object_list %}
        <tr>
          <td>{{pais.id}}</td>
          <td>{{pais.denominacion}}</td>
          <td>{{pais.code}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <button class="dropdown-item" onclick="editar_registro_modal('{% url 'terminal:editar_alhua' pais.id %}')">Editar</button>
                 <button class="dropdown-item" onclick="eliminar_registro_modal('{% url 'terminal:eliminar_alhua' pais.id %}')">Eliminar</button>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay países registrados en el sistema</h1>
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_alhua' %}')" name="button">Agregar país</button>
    {% endif %}
  </tbody>
</table>

{% endblock %}
