{%  extends 'base/base.html' %}

{% block contenido %}

<div class="row justify-content-center">

    <div class="col">

      <div class="d-flex flex-row-reverse bg-primary">
      <div class="p-4 bg-light">{% block titulo_lista %}{% endblock %}</div>
      </div>

      {% block boton_superior %}

      {% endblock %}
      {% block contenido_previo %} {% endblock %}
      <input class="form-control" id="busqueda" type="text" placeholder="Búsqueda..."> <br>

      {% block lista_contenido %}

      {% endblock %}
</div>
</div>


<div class="modal fase" id="nuevoRegistro" role="dialog">

</div>

<div class="modal fase" id="editarRegistro" role="dialog">

</div>

<div class="modal fase" id="eliminarRegistro" role="dialog">

</div>

{% endblock %}

{% block extrascript %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function nuevo_registro_modal(url){
    $('#nuevoRegistro').load(url,function(){
      $(this).modal('show');
    });
  }

  function editar_registro_modal(url){
    $('#editarRegistro').load(url,function(){
      $(this).modal('show');
    });
  }

  function eliminar_registro_modal(url){
    $('#eliminarRegistro').load(url,function(){
      $(this).modal('show');
    });
  }

</script>
{% endblock %}
