<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">

      {%block titulo%}

      {% endblock %}


      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>



          <div class="modal-body">

            {%block cuerpo%}

            {% endblock %}

          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cerrar</button>


          </div>
      <!-- </form> -->
  </div>

</div>
