{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} <i class="bi bi-box-arrow-up-right"></i> Servicios salientes {% endblock %}

{% block boton_superior %}
  <div>
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_deyachi' %}')" name="button">Agregar servicio saliente</button>

  </div>
{% endblock %}

{% block lista_contenido %}



<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Empresa</td>
      <td>Destino</td>
      <td>Escalas</td>
      <td>Hora partida</td>
      <td>D</td>
      <td>L</td>
      <td>M</td>
      <td>X</td>
      <td>J</td>
      <td>V</td>
      <td>S</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for partida in object_list %}
        <tr>
          <td>{{partida.id}}</td>
          <td>{{partida.empresa.razonSocial}}</td>
          <td>{{partida.destino}}</td>
          <td>


            {% for intermedio in partida.deyachiintermedio_set.all %}
              <small>{{intermedio.ciudad.denominacion}}</small>
            {% endfor %}

          </td>
          <td>{{partida.horaPartida}}</td>
          <td>{% if partida.d %}<span class="badge badge-success">D</span>{% endif %}</td>
          <td>{% if partida.l %}<span class="badge badge-success">L</span>{% endif %}</td>
          <td>{% if partida.m %}<span class="badge badge-success">M</span>{% endif %}</td>
          <td>{% if partida.x %}<span class="badge badge-success">X</span>{% endif %}</td>
          <td>{% if partida.j %}<span class="badge badge-success">J</span>{% endif %}</td>
          <td>{% if partida.v %}<span class="badge badge-success">V</span>{% endif %}</td>
          <td>{% if partida.s %}<span class="badge badge-success">S</span>{% endif %}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'terminal:detalle_deyachi' partida.id %}">Detalles</a>
                 <button class="dropdown-item" onclick="editar_registro_modal('{% url 'terminal:editar_deyachi' partida.id %}')">Editar</button>
                 <button class="dropdown-item" onclick="eliminar_registro_modal('{% url 'terminal:eliminar_deyachi' partida.id %}')">Eliminar</button>
             </div>
          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay partidas registradas en el sistema</h1>
        <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_deyachi' %}')" name="button">Agregar servicio saliente</button>
    {% endif %}
  </tbody>
</table>

{% endblock %}
