{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} Detalle del servicio entrante {% endblock %}

{% block boton_superior %}


  <div class="container p-5 my-5 border">
    <h3>Detalle del viaje de empresa {{ingreso.empresa}} proveniente de {{ingreso.origen}}</h3>

    <div class="row border-bottom">
      <div class="col-sm-6 col-md-3 bg-info">
        <p>Empresa</p>
      </div>

      <div class="col-sm-6 col-md-3 border-right">
        <p>{{ingreso.empresa}}</p>
      </div>



      <div class="col-sm-6 col-md-3 bg-info">
        <p>Origen</p>
      </div>

      <div class="col-sm-6 col-md-3">
        <p>{{ingreso.origen}}</p>
      </div>
    </div>
    <div class="row border-top border-bottom">
      <div class="col-sm-6 col-md-3 bg-info">
        <p>Hora de partida en origen</p>
      </div>

      <div class="col-sm-6 col-md-3">
        <!--Averiguar si se puede hacer que devuelva "No establecido" directamente desde el modelo -->

        <p>{% if ingreso.horaPartida %}{{ingreso.horaPartida}} {% else %} No establecido {% endif %}</p>

      </div>

      <div class="col-sm-6 col-md-3 bg-info">
        <p>Hora de arribo a terminal</p>
      </div>

      <div class="col-sm-6 col-md-3">
        <p>{{ingreso.horaArribo}}</p>
      </div>

    </div>

    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_inoxoneuo_intermedio' ingreso.id %}')" name="button">Agregar ciudad intermedia</button>
    <!--
    <a class="btn btn-outline-success" href="{% url 'terminal:nuevo_inoxoneuo' %}" name="button">Agregar ciudad intermedia</a>
    -->

  </div>
{% endblock %}

{% block lista_contenido %}



<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Ciudad</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if intermedios %}
      {% for i in intermedios %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.ciudad.denominacion}}</td>


            <td>
              <a class="btn btn-danger" href="{% url 'terminal:eliminar_inoxoneuo_intermedio' i.id %}" data-bs-toggle="tooltip" title="Eliminar"><i class="bi bi-trash"></i></a>
            </td>

          
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay ciudades intermedias registradas en el sistema.</h1>
        <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_inoxoneuo_intermedio' ingreso.id %}')" name="button">Agregar ciudad intermedia</button>
    {% endif %}
  </tbody>
</table>

{% endblock %}
