{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} <i class="bi bi-box-arrow-in-up-right"></i>
Servicios entrantes {% endblock %}

{% block boton_superior %}
  <div>
    <!--
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_inoxoneuo' %}')" name="button">Agregar servicio ingresante</button>
    -->
    <a class="btn btn-outline-success" href="{% url 'terminal:nuevo_inoxoneuo' %}" name="button">

      Agregar servicio ingresante</a>

  </div>
{% endblock %}

{% block lista_contenido %}



<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Empresa</td>
      <td>Origen</td>
      <td>Escalas</td>
      <td>Hora arribo</td>
      <td>D</td>
      <td>L</td>
      <td>M</td>
      <td>X</td>
      <td>J</td>
      <td>V</td>
      <td>S</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for arribo in object_list %}
        <tr>
          <td>{{arribo.id}}</td>
          <td>{{arribo.empresa.razonSocial}}</td>
          <td>{{arribo.origen}}</td>
          <td>


            {% for intermedio in arribo.inoxoneuointermedio_set.all %}
              <small>{{intermedio.ciudad.denominacion}}</small>
            {% endfor %}

          </td>
          <td>{{arribo.horaArribo}}</td>
          <td>{% if arribo.d %}<span class="badge badge-success">D</span>{% endif %}</td>
          <td>{% if arribo.l %}<span class="badge badge-success">L</span>{% endif %}</td>
          <td>{% if arribo.m %}<span class="badge badge-success">M</span>{% endif %}</td>
          <td>{% if arribo.x %}<span class="badge badge-success">X</span>{% endif %}</td>
          <td>{% if arribo.j %}<span class="badge badge-success">J</span>{% endif %}</td>
          <td>{% if arribo.v %}<span class="badge badge-success">V</span>{% endif %}</td>
          <td>{% if arribo.s %}<span class="badge badge-success">S</span>{% endif %}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                <!--

                 <button class="dropdown-item" onclick="editar_registro_modal('{% url 'terminal:editar_inoxoneuo' arribo.id %}')">Editar</button>
                 <button class="dropdown-item" onclick="eliminar_registro_modal('{% url 'terminal:eliminar_inoxoneuo' arribo.id %}')">Eliminar</button>
                 -->
                 <a class="dropdown-item" href="{% url 'terminal:detalle_inoxoneuo' arribo.id %}">Detalles</a>
                 <a class="dropdown-item" href="{% url 'terminal:editar_inoxoneuo' arribo.id %}">Editar</a>
                 <button class="dropdown-item" onclick="eliminar_registro_modal('{% url 'terminal:eliminar_inoxoneuo' arribo.id %}')">Eliminar</button>
             </div>
          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay arribos registrados en el sistema</h1>
        <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_inoxoneuo' %}')" name="button">Agregar servicio ingresante</button>
    {% endif %}
  </tbody>
</table>

{% endblock %}
