{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} Configuración - Empresas de transporte {% endblock %}

{% block boton_superior %}
  <div>
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nueva_iqueuoxon' %}')" name="button">Agregar empresa de transporte</button>

  </div>
{% endblock %}

{% block lista_contenido %}



<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Razón social</td>
      <td>CUIT</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for empresa in object_list %}
        <tr>
          <td>{{empresa.id}}</td>
          <td>{{empresa.razonSocial}}</td>
          <td>{{empresa.nro_impositivo}}</td>
          <td>
            <button class="btn btn-success" onclick="editar_registro_modal('{% url 'terminal:ver_iqueuoxon' empresa.id %}')"><i class="bi bi-eye"></i></button>
            <button class="btn btn-warning" onclick="editar_registro_modal('{% url 'terminal:editar_iqueuoxon' empresa.id %}')"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-danger" onclick="editar_registro_modal('{% url 'terminal:eliminar_iqueuoxon' empresa.id %}')"><i class="bi bi-trash"></i></button>


          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay empresas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nueva_iqueuoxon' %}">Agregar empresa</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
