{% extends 'nachaxan/baseDetails.html' %}

{%block titulo%}

  <h2 class="modal-title">Detalle de empresa</h2>

{% endblock %}


{% block cuerpo %}
  {% if object %}
  <table class="table table-dark table-hover">

  <tbody>
    <tr>
      <td>Razón social</td>
      <td>{{ object.razonSocial}}</td>
    </tr>
    <tr>
      <td>CUIT</td>
      <td>{{ object.nro_impositivo}}</td>
    </tr>
    <tr>
      <td>Teléfono</td>
      <td>{{ object.telefono}}</td>
    </tr>
    <tr>
      <td>Correo electrónico</td>
      <td><a style="color:white" href="mailto:{{ object.email }}">{{ object.email}}</a></td>
    </tr>
    <tr>
      <td>Sitio web</td>
      <!--cambio el color a white del elemento a, porque el azul defaul no se ve bien -->
      <td><a style="color:white" href="{{ object.sitioWeb }}">{{ object.sitioWeb}}</a></td>
    </tr>

  </tbody>

</table>
    <h4>Boleterías asociadas</h4>
    <table class="table table-dark table-hover">


      <thead>
        <th>Boletería</th>
        <th>Status</th>
        <th>Teléfono</th>
      </thead>
      <tbody>
        {% for b in boleterias %}
        <tr>
          <td>{{ b.boleteria.numeroID}}</td>
          <td>{{ b.boleteria.status.denominacion }}</td>
          <td>{{ b.boleteria.telefono }}</td>
        </tr>

        {% endfor %}
      </tbody>

  </table>

  {% endif %}
{% endblock %}
