{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} Configuración - Puertas de embarque {% endblock %}

{% block boton_superior %}
  <div>
    <button class="btn btn-outline-success" onclick="nueva_puerta_modal('{% url 'terminal:nueva_lasom' %}')" name="button">Agregar puerta de embarque</button>

  </div>
{% endblock %}

{% block lista_contenido %}

<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Terminal</td>
      <td>Denominación/Número/Letra puerta de embarque</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for puerta in object_list %}
        <tr>
          <td>{{puerta.id}}</td>
          <td>{{puerta.terminal.denominacion}}</td>
          <td>{{puerta.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <button class="dropdown-item" onclick="editar_puerta_modal('{% url 'terminal:editar_lasom' puerta.id %}')">Editar</button>
                 <a class="dropdown-item" href="{% url 'terminal:eliminar_lasom' puerta.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay puertas de embarque registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nueva_lasom' %}">Agregar puerta de embarque</a>
    {% endif %}
  </tbody>
</table>

<div class="modal fade" id="nuevaPuerta" role="dialog">

</div>

<div class="modal fade" id="editarPuerta" role="dialog">

</div>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function nueva_puerta_modal(url){
    $('#nuevaPuerta').load(url,function(){
      $(this).modal('show');
    });
  }

  function editar_puerta_modal(url){
    $('#editarPuerta ').load(url,function(){
      $(this).modal('show');
    });
  }

</script>
{% endblock %}
