{%  extends 'base/base.html' %}

{% block contenido %}

<table id="listadoTerminal" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
      <td>Domicilio</td>
      <td>Teléfono</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for terminal in object_list %}
        <tr>
          <td>{{terminal.id}}</td>
          <td>{{terminal.denominacion}}</td>
          <td>{{terminal.domicilio}}</td>
          <td>{{terminal.telefono}}</td>
          <td>{{terminal.email}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'terminal:editar_lvidaqa' terminal.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'terminal:eliminar_lvidaqa' terminal.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay plataformas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nueva_lvidaqa' %}">Agregar terminal</a>
    {% endif %}
  </tbody>
</table>


<div class="row">


	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="arribos">
			  	<div class="card-header">
			  		<h5 class="card-title">Arribos</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="partidas">
			  	<div class="card-header">
			  		<h5 class="card-title">Partidas</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="pendientes">
			  	<div class="card-header">
			  		<h5 class="card-title">Arribos pendientes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>


{% endblock contenido %}
