{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} Servicios entrantes {% endblock %}


{% block boton_superior %}
  <div>

    <a class="btn btn-outline-success" href="{% url 'terminal:nueva_nmen' %}" name="button">Agregar boletería</a>

  </div>
{% endblock %}


{% block lista_contenido %}

<table id="listadoBoleterias" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Terminal</td>
      <td>Identificador</td>
      <td>Teléfono público</td>
      <td>Interno</td>
      <td>Correo electrónico</td>
      <td>Persona contacto</td>
      <td>Teléfono urgencia</td>
      <td>Estado</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for boleteria in object_list %}
        <tr>
          <td>{{boleteria.id}}</td>
          <td>{{boleteria.terminal.denominacion}}</td>
          <td>{{boleteria.numeroID}}</td>
          <td>{{boleteria.telefono}}</td>
          <td>{{boleteria.internoTelefono}}</td>
          <td>{{boleteria.email}}</td>
          <td>{{boleteria.nombreContacto}}</td>
          <td>{{boleteria.telefonoEmergencia}}</td>
          <td style="color:{{boleteria.status.color}}; font-weight: bold; ">{{boleteria.status.denominacion}}</td>
          <td>
            <button class="btn btn-success" onclick="editar_registro_modal('{% url 'terminal:ver_nmen' boleteria.id %}')"><i class="bi bi-eye"></i></button>
            <a class="btn btn-success" href="{% url 'terminal:editar_nmen' boleteria.id %}" data-bs-toggle="tooltip" title="Modificar"><i class="bi bi-pencil-square"></i></a>
            <a class="btn btn-warning" href="{% url 'terminal:lista_nmen_iqueuoxon' boleteria.id %}" data-bs-toggle="tooltip" title="Asociar empresas"><i class="bi bi-plus-lg"></i>Empresas</a>

            <a class="btn btn-danger" href="{% url 'terminal:eliminar_nmen' boleteria.id %}" data-bs-toggle="tooltip" title="Eliminar"><i class="bi bi-trash"></i></a>


          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay boleterías registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nueva_nmen' %}">Agregar boletería</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
