{% extends 'nachaxan/baseDetails.html' %}

{%block titulo%}

  <h2 class="modal-title">Detalle de boleteria</h2>

{% endblock %}


{% block cuerpo %}
  {% if object %}
  <table class="table table-dark table-hover">

  <tbody>
    <tr>
      <td>Número</td>
      <td>{{ object.numeroID}}</td>
    </tr>
    <tr>
      <td>Teléfono</td>
      <td>{{ object.telefono}}</td>
    </tr>
    <tr>
      <td>Interno</td>
      <td>{{ object.internoTelefono}}</td>
    </tr>
    <tr>
      <td>Correo electrónico</td>
      <td><a style="color:white" href="mailto:{{ object.email }}">{{ object.email}}</a></td>
    </tr>
    <tr>
      <td>Persona</td>
      <td>{{ object.nombreContacto}}</td>
    </tr>
    <tr>
      <td>Teléfono emergencia</td>
      <td>{{ object.telefonoEmergencia}}</td>
    </tr>



  </tbody>

</table>
    <h4>Empresas asociadas</h4>
    <table class="table table-dark table-hover">


      <thead>
        <th>Empresa</th>

      </thead>
      <tbody>
        {% for e in empresas %}
        <tr>
          <td>{{ e.empresa.razonSocial}}</td>
          
        </tr>

        {% endfor %}
      </tbody>

  </table>

  {% endif %}
{% endblock %}
