
{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %}Detalle de boletería {% endblock %}
{% block boton_superior %}
<div>

  <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_nmen_iqueuoxon' boleteria.id %}')" name="button">+ Empresa</button>

</div>
{% endblock %}
{% block contenido_previo %}
<div class="container p-5 my-5 border">
  <h3>Detalle de boletería {{boleteria.numeroID}}</h3>

  <div class="row border-bottom">
    <div class="col-sm-6 col-md-2 bg-info">
      <p>Teléfono</p>
    </div>

    <div class="col-sm-6 col-md-4 border-right">
      <a href="tel:{{boleteria.telefono}}">{{boleteria.telefono}}</a>
    </div>



    <div class="col-sm-6 col-md-2 bg-info">
      <p>Interno teléfono</p>
    </div>

    <div class="col-sm-6 col-md-4">
      <p>{{boleteria.internoTelefono}}</p>
    </div>
  </div>
  <div class="row border-top border-bottom">
    <div class="col-sm-6 col-md-2 bg-info">
      <p>Email</p>
    </div>

    <div class="col-sm-6 col-md-4">

      <a href="mailto:{{boleteria.email}}">{{boleteria.email}}</a>

    </div>

    <div class="col-sm-6 col-md-2 bg-info">
      <p>Contacto</p>
    </div>

    <div class="col-sm-6 col-md-4">
      <p>{{boleteria.nombreContacto}}</p>
    </div>

  </div>
  <div class="row border-top border-bottom">
    <div class="col-sm-6 col-md-2 bg-info">
      <p>Emergencia</p>
    </div>

    <div class="col-sm-6 col-md-4">

      <p>{{boleteria.telefonoEmergencia}}</p>

    </div>

    <div class="col-sm-6 col-md-2 bg-info">
      <p>Estado</p>
    </div>

    <div class="col-sm-6 col-md-4">
      <p>{{boleteria.status}}</p>
    </div>

  </div>

</div>
<h4>Empresas asociadas a esta boletería</h4>
{% endblock %} <!-- cierra bloque contenido_previo -->

{% block lista_contenido %}
    <table id="tabla" class='table table-striped'>

    <thead>
      <tr>
        <td>Id. Empresa</td>
        <td>Empresa</td>
        <td>CUIL</td>
        <td>Acciones</td>
      </tr>
    </thead>
    <tbody>
      <!-- Veo si hay registros de terminales para mostrar-->
      {% if asociadas %}
        {% for asociada in asociadas %}
          <tr>
            <td>{{asociada.empresa.id}}</td>
            <td>{{asociada.empresa.razonSocial}}</td>
            <td>{{asociada.empresa.nro_impositivo}}</td>


            <td>
              <a class="btn btn-danger" href="{% url 'terminal:eliminar_nmen_iqueuoxon' asociada.id %}" data-bs-toggle="tooltip" title="Eliminar"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
      <h1>No hay empresas asociadas a esta boletería</h1>
      <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_nmen_iqueuoxon' boleteria.id %}')" name="button">+ Empresa</button>

      {% endif %}
    </tbody>

    </table>
{% endblock %}
