{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} Configuración - Parámetros {% endblock %}

{% block boton_superior %}
  <div>
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_parametro' %}')" name="button">Agregar parámetro</button>

  </div>
{% endblock %}

{% block lista_contenido %}



<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
      <td>Valor</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for p in object_list %}
        <tr>
          <td>{{p.id}}</td>
          <td>{{p.parameter}}</td>
          <td>{{p.value}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <button class="dropdown-item" onclick="editar_registro_modal('{% url 'terminal:editar_parametro' p.id %}')">Editar</button>
                 <button class="dropdown-item" onclick="eliminar_registro_modal('{% url 'terminal:eliminar_parametro' p.id %}')">Eliminar</button>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay estados registrados en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nuevo_parametro' %}">Agregar parámetro</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
