{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} Configuración - Estados de boleterías {% endblock %}

{% block boton_superior %}
  <div>
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nuevo_status' %}')" name="button">Agregar estado boletería</button>

  </div>
{% endblock %}

{% block lista_contenido %}



<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for status in object_list %}
        <tr>
          <td>{{status.id}}</td>
          <td>{{status.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <button class="dropdown-item" onclick="editar_registro_modal('{% url 'terminal:editar_status' status.id %}')">Editar</button>
                 <button class="dropdown-item" onclick="eliminar_registro_modal('{% url 'terminal:eliminar_status' status.id %}')">Eliminar</button>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay estados registrados en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nuevo_status' %}">Agregar estado</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
