{%  extends 'nachaxan/base.html' %}

{% block titulo_lista %} Configuración - Ciudades{% endblock %}

{% block boton_superior %}
  <div>
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nueva_yinoyic' %}')" name="button">Agregar ciudad</button>

  </div>
{% endblock %}

{% block lista_contenido %}



<table id="tabla" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
      <td>Provincia</td>
      <td>País</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for ciudad in object_list %}
        <tr>
          <td>{{ciudad.id}}</td>
          <td>{{ciudad.denominacion}}</td>
          <td>{{ciudad.provincia.denominacion}}</td>
          <td>{{ciudad.provincia.pais.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <button class="dropdown-item" onclick="editar_registro_modal('{% url 'terminal:editar_yinoyic' ciudad.id %}')">Editar</button>
                 <button class="dropdown-item" onclick="eliminar_registro_modal('{% url 'terminal:eliminar_yinoyic' ciudad.id %}')">Eliminar</button>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay ciudades registradas en el sistema</h1>
    <button class="btn btn-outline-success" onclick="nuevo_registro_modal('{% url 'terminal:nueva_yinoyic' %}')" name="button">Agregar ciudad</button>
    {% endif %}
  </tbody>
</table>

{% endblock %}
