
    <!-- Tabla de Plataformas que se muestra en tablón -->

    <div class="col-md-3" id="miniLmala">
      <h5>Plataformas</h5>
      <hr>
      <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'terminal:nueva_lmala' %}">Crear plataforma</a>
        <table class="table table-sm">
          <tr>
            <th>Plataforma</th>
            <th>Puerta de embarque</th>
            <th>Acciones</th>
          </tr>
          <tbody>

            {% for plataforma in plataformas %}
              <tr>
                <td>{{plataforma.numeroID}}</td>
                <td>{{plataforma.puertaembarque.denominacion}}</td>
                <td>
                  <div class="dropdown">
                   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                     Acciones
                   </button>
                   <div class="dropdown-menu">
                       <a class="dropdown-item" href="{% url 'terminal:editar_lmala' plataforma.id %}">Editar</a>
                       <a class="dropdown-item" href="{% url 'terminal:eliminar_lmala' plataforma.id %}">Eliminar</a>
                   </div>
                 </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
