{% extends 'iot/base.html' %}

{%block titulo%}
  {% if object %}
  <h2 class="modal-title">Edición de países</h2>
  {% else %}
  <h2 class="modal-title">Nuevo país</h2>
  {% endif %}
{% endblock %}


{% block etiquetaform %}
  {% if object %}
  <form action="{% url 'terminal:editar_alhua' object.id %}" method="post">
  {% else %}
  <form action="{% url 'terminal:nuevo_alhua' %}" method="post">
    {% endif %}
{% endblock %}
