{% extends 'iot/base.html' %}

{%block titulo%}
  {% if object %}
  <h2 class="modal-title">Edición de provincias</h2>
  {% else %}
  <h2 class="modal-title">Nueva provincia</h2>
  {% endif %}
{% endblock %}


{% block etiquetaform %}
  {% if object %}
  <form action="{% url 'terminal:editar_alhuana' object.id %}" method="post">
  {% else %}
  <form action="{% url 'terminal:nueva_alhuana' %}" method="post">
    {% endif %}
{% endblock %}
