<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">

      {%block titulo%}

      {% endblock %}


      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

      {% block etiquetaform %}

      {% endblock %}
          {% csrf_token %}
          <div class="modal-body">
            {{ form.as_p }}

          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" type="submit">Guardar</button>

          </div>
      <!-- </form> -->
  </div>

</div>
