{% extends 'iot/base.html' %}

{%block titulo%}
  {% if object %}
  <h2 class="modal-title">Edición partida</h2>
  {% else %}
  <h2 class="modal-title">Nueva partida</h2>
  {% endif %}
{% endblock %}


{% block etiquetaform %}
  {% if object %}
  <form action="{% url 'terminal:editar_deyachi' object.id %}" method="post">
  {% else %}
  <form action="{% url 'terminal:nuevo_deyachi' %}" method="post">
    {% endif %}
{% endblock %}
