{% extends 'base/base.html'  %}

{% block contenido %}
<h3>Carga de entradas</h3>
<div class="container">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="mt-4 p-5 bg-secondary  rounded">
      <h3>Ciudades intermedias</h3>
        <div>
          <a class="btn btn-success" href="#" name="button">Agregar ciudad intermedia</a>
        </div>

        <table id="tabla" class='table table-striped'>
          <thead>
            <tr>
            <td>#</td>
            <td>Ciudad</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-outline-success" name="button">Guardar servicio ingresante</button>

  </form>
</div>
{% endblock %}
