



<!-- desde aca -->
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">

        <h2 class="modal-title">Agregar ciudad intermedia origen v2 {{ ingreso.id }}</h2>


      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

      <form method="post" enctype="multipart/form-data" action="{% url 'terminal:nuevo_inoxoneuo_intermedio' ingreso.id %}">
          {% csrf_token %}


          <div class="modal-body">

            <div class="form-group">
                <input type="text" name="{{form.inoxoneuo.name}}" value="{{ingreso.id}}">
                <select class="" name="{{form.inoxoneuo.name}}">
                  <option value="{{ingreso.id}}" selected>{{ingreso.id}}</option>
                </select>

            </div>
            <div class="form-group">
                <select class="form-control" name="{{form.ciudad.name}}">
                {% for c in noAsociadas %}

                  <option value="{{c.id}}">{{c}}</option>

                {% endfor %}
              </select>

            </div>

            <div class="modal-footer">
              <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-primary" type="submit">Guardar</button>

            </div>
            <!-- 2022 11 25 comentado
            <div class="form-group">
              <label for="{{form.empresa.name}}">{{form.empresa.label}}</label>
                {{form.empresa}}
            </div>
            <div class="form-group">
              <label for="{{form.boleteria.name}}">{{form.boleteria.label}}</label>

              {{form.boleteria}}
            </div>

          </div>


          -->
      </form>
  </div>

</div>
