{% extends 'iot/base.html' %}

{%block titulo%}
  {% if object %}
  <h2 class="modal-title">Edición empresa de transporte</h2>
  {% else %}
  <h2 class="modal-title">Nueva empresa de transporte</h2>
  {% endif %}
{% endblock %}


{% block etiquetaform %}
  {% if object %}
  <form action="{% url 'terminal:editar_iqueuoxon' object.id %}" method="post">
  {% else %}
  <form action="{% url 'terminal:nueva_iqueuoxon' %}" method="post">
    {% endif %}
{% endblock %}
