<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      {% if object %}
      <h2 class="modal-title">Edición puerta de embarque</h2>
      {% else %}
      <h2 class="modal-title">Nueva puerta de embarque</h2>
      {% endif %}

      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      {% if object %}
      <form action="{% url 'terminal:editar_lasom' object.id %}" method="post">
      {% else %}
      <form action="{% url 'terminal:nueva_lasom' %}" method="post">
      {% endif %}

          {% csrf_token %}
          <div class="modal-body">
            {{ form.as_p }}

          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" type="submit">Guardar</button>

          </div>
      </form>
  </div>

</div>
