



<!-- desde aca -->
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">

        <h2 class="modal-title">Asociar empresa v2 {{ boleteria.id }}</h2>


      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

      <form method="post" enctype="multipart/form-data" action="{% url 'terminal:nuevo_nmen_iqueuoxon' boleteria.id %}">
          {% csrf_token %}


          <div class="modal-body">

            <div class="form-group">
                <input type="text" name="{{form.boleteria.name}}" value="{{boleteria.id}}">
                <select class="" name="{{form.boleteria.name}}">
                  <option value="{{boleteria.id}}" selected>{{boleteria.id}}</option>
                </select>

            </div>
            <div class="form-group">
                <select class="" name="{{form.empresa.name}}">
                {% for e in noAsociadas %}

                  <option value="{{e.id}}">{{e}}</option>

                {% endfor %}
              </select>

            </div>

            <div class="modal-footer">
              <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-primary" type="submit">Guardar</button>

            </div>
            <!-- 2022 11 25 comentado
            <div class="form-group">
              <label for="{{form.empresa.name}}">{{form.empresa.label}}</label>
                {{form.empresa}}
            </div>
            <div class="form-group">
              <label for="{{form.boleteria.name}}">{{form.boleteria.label}}</label>

              {{form.boleteria}}
            </div>

          </div>


          -->
      </form>
  </div>

</div>
