{% extends 'base/base.html'  %}

{% block contenido %}
<h3>Carga de boleterías</h3>

<div class="container">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-outline-success" name="button">Guardar boletería</button>
  </form>
</div>
{% endblock %}
