{% extends 'iot/base.html' %}

{%block titulo%}
  {% if object %}
  <h2 class="modal-title">Edición parámetro</h2>
  {% else %}
  <h2 class="modal-title">Nuevo parámetro</h2>
  {% endif %}
{% endblock %}


{% block etiquetaform %}
  {% if object %}
  <form action="{% url 'terminal:editar_parametro' object.id %}" method="post">
  {% else %}
  <form action="{% url 'terminal:nuevo_parametro' %}" method="post">
    {% endif %}
{% endblock %}
