{% extends 'iot/base.html' %}

{%block titulo%}
  {% if object %}
  <h2 class="modal-title">Edición estado de boletería</h2>
  {% else %}
  <h2 class="modal-title">Nuevo estado de boletería</h2>
  {% endif %}
{% endblock %}


{% block etiquetaform %}
  {% if object %}
  <form action="{% url 'terminal:editar_status' object.id %}" method="post">
  {% else %}
  <form action="{% url 'terminal:nuevo_status' %}" method="post">
    {% endif %}
{% endblock %}
