{% extends 'iot/base.html' %}

{%block titulo%}
  {% if object %}
  <h2 class="modal-title">Edición de ciudades</h2>
  {% else %}
  <h2 class="modal-title">Nueva ciudad</h2>
  {% endif %}
{% endblock %}


{% block etiquetaform %}
  {% if object %}
  <form action="{% url 'terminal:editar_yinoyic' object.id %}" method="post">
  {% else %}
  <form action="{% url 'terminal:nueva_yinoyic' %}" method="post">
    {% endif %}
{% endblock %}
