{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">

    <!-- Cargo CSS de BS local
  <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    -->
    <link rel="stylesheet" href="{% static 'css/estilos_generales.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bsicons/font/bootstrap-icons.css' %}">

    <title> {% block title %}Altemoi{% endblock %}</title>


  </head>
  <body class="cuerpo">
    <div class="container-fluid">

      {% block encabezado %}


        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
          <a class="navbar-brand" href="#">Altemoi</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'terminal:tablon' %}">Inicio <span class="sr-only">Inicio</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_lvidaqa' %}">Terminales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_lasom' %}">Puertas de embarque</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_lmala' %}">Plataformas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_nmen' %}">Boleterías</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_iqueuoxon' %}">Empresas</a>
              </li>





              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Agenda
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'terminal:lista_inoxoneuo' %}">Ingresos</a>
                  <a class="dropdown-item" href="{% url 'terminal:lista_deyachi' %}">Egresos</a>
                </div>
              </li>






              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Configuración
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'terminal:lista_status' %}">Estados</a>
                  <a class="dropdown-item" href="{% url 'terminal:lista_alhua' %}">Países</a>
                  <a class="dropdown-item" href="{% url 'terminal:lista_alhuana' %}">Provincias</a>
                  <a class="dropdown-item" href="{% url 'terminal:lista_yinoyic' %}">Ciudades</a>
                </div>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sistema
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'logout' %}"><i class="gg-log-off"></i>Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

      {% endblock %}

      {% block contenido %}

      {% endblock %}


      {% block pie %}
      <footer>
        <p>Altemoi</p>
      </footer>
      {% endblock %}

    </div>

    <!--Scripts de JQuery, Popper y BS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'altemoiscripts/viewsupdates.js' %}"></script>



    <!--Este script sirve para filtrar las listas-->
    <script>
    $(document).ready(function(){
      $("#busqueda").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tabla tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

    {% block extrascript %}


    {% endblock %}



  </body>
</html>
