
<div class="modal fade" id="nuevoRegistro" role="dialog">

</div>

<div class="modal fade" id="editarRegistro" role="dialog">

</div>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function nuevo_registro_modal(url){
    $('#nuevoRegistro').load(url,function(){
      $(this).modal('show');
    });
  }

  function editar_registro_modal(url){
    $('#editarRegistro ').load(url,function(){
      $(this).modal('show');
    });
  }

</script>
