<!--
Extiendo la estructura completa del modal desde aqtac/base.html
Luego ajusto el action del form y el contenido del mensaje del modal según qué
se esté eliminando
-->

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Confirmación de eliminación</h2>

      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


          <div class="modal-body">
            {% block etiquetaform %}

            {% endblock %}
              {% csrf_token %}
              {% block mensajeform %}

              {% endblock %}
              <button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>

          </div>


  </div>

</div>
