{% extends 'aqtac/base.html' %}

{% block etiquetaform %}
  <form action="{% url 'terminal:eliminar_deyachi' object.id %}" method="post">
{% endblock %}

{% block mensajeform %}
  <h3>¿Desea eliminar la partida de la empresa <b>{{ object.empresa.razonSocial }}</b>?</h3>
{% endblock %}
