
{% extends 'base/base.html' %}

{% block contenido %}
<form method="post">
  {% csrf_token %}
  <h3>¿Desea desasociar la ciudad {{ object.ciudad.denominacion }}?</h3>
  <button class= "btn btn-danger" type="submit" name="button">Eliminar</button>

  <a class= "btn btn-primary" href="{% url 'terminal:detalle_inoxoneuo' object.inoxoneuo.id %}">Cancelar</a>

</form>

{% endblock %}
