{% extends 'aqtac/base.html' %}

{% block etiquetaform %}
  <form action="{% url 'terminal:eliminar_inoxoneuo' object.id %}" method="post">
{% endblock %}

{% block mensajeform %}
  <h3>¿Desea eliminar el arribo de la empresa <b>{{ object.empresa.razonSocial }}</b>?</h3>
{% endblock %}
