{% extends 'aqtac/base.html' %}

{% block etiquetaform %}
  <form action="{% url 'terminal:eliminar_iqueuoxon' object.id %}" method="post">
{% endblock %}

{% block mensajeform %}
  <h3>¿Desea eliminar la empresa <b>{{ object.razonSocial }}</b>?</h3>
{% endblock %}
