
{% extends 'base/base.html' %}

{% block contenido %}
<form method="post">
  {% csrf_token %}
  <h3>¿Desea desasociar la empresa {{ object.empresa.razonSocial }}?</h3>
  <button class= "btn btn-danger" type="submit" name="button">Eliminar</button>
  <a class= "btn btn-primary" href="{% url 'terminal:lista_nmen_iqueuoxon' object.boleteria.id %}">Cancelar</a>
</form>

{% endblock %}
