{% extends 'base/base.html' %}

{% block contenido %}
<form method="post">
  {% csrf_token %}
  <h3>¿Desea eliminar la boletería {{ object.numeroID }}?</h3>
  <button class= "btn btn-danger" type="submit" name="button">Eliminar</button>
  <a class= "btn btn-primary" href="{% url 'terminal:lista_nmen' %}">Cancelar</a>
</form>

{% endblock %}
