{% extends 'aqtac/base.html' %}

{% block etiquetaform %}
  <form action="{% url 'terminal:eliminar_status' object.id %}" method="post">
{% endblock %}

{% block mensajeform %}
  <h3>¿Desea eliminar el estado <b>{{ object.denominacion }}</b>?</h3>
{% endblock %}
